/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* {
  width: 900px;
}*/
.header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-size: 20px;
  font-family: 'Gugi', serif;
  margin-top: 50px;
}
.nav a {
  color: black;
  text-decoration: none;
}
.header img.logo {
  width: 150px;
  margin-top: 25px;
}
.title {
  width: 95%;
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}
.title h1 {
  height: 250px;
  width: 25%;
  font-size: 75px;
  text-align: center;
}
.title button {
  font-size: 20px;
  width: 150px;
  height: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 10%;
  cursor: pointer;
}
.titleimg {
  width: 300px;
  height: 300px;
}
.information {
  border-top: black 1px solid;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
}
.information div {
  width: 50%;
}
.information p {
  height: 100px;
}
.infoimg {
  width: 95%;
}
.information2 {
  width: 95%;
  border-bottom: black 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
}
.information2 div {
  width: 33%;
}

.information2 h2 {
  padding-right: 180px;
}
.address {
  width: 20%;
  letter-spacing: 2;
}
.copyright {
  padding: 25px;
  margin-left: 45%;
}
/* tablet styling*/
@media (max-width: 800px){
    .header {
        width: 100%;
        flex-direction: column-reverse;
    }
    .header .nav {
        width: 95%;
        margin: 10px 50px;
        justify-content: space-around;
    }
    .header .nav a {
        color: grey;
    }
    .header img {
       width: 150px;
       justify-content: space-evenly;
       margin: 0 auto; 
    }
    .title {
        width: 80%;
        justify-content: space-evenly;
    }
    .titleimg {
        display: none;
    }
    .information {
        padding: 25px;
    }
    .infoimg {
        width: 100%;
    }
    .footer {
      padding: 25px;
    }
}
/* adds phone*/
@media(max-width: 500px){
    .header{
        flex-direction: column-reverse;
    }
    .header .nav {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }
    .header .nav a{
        padding: 15px 200px;
        margin: 0;
        border-bottom: 1px solid gray;
    }
    .header .nav:first-child{
        border-top: 1px solid gray;
    }
   .title{
      justify-content: space-evenly;
       padding: 50px;
   }
   .information{
       flex-direction: column;
       padding: 10px 0px;
       margin: 0 15px;
   }
   .information div{
       width: 100%;
   }
   .infoimg{
       margin: 5px;
   }
   .information2{
    flex-direction: column;
    padding: 10px 0px;
    margin: 0 15px;
   }
   .information2 div{
    margin-top: 20px;
    width: 100%;
}


}


